In [6]:
from utils import *

In [7]:
identity,siteref,market_intelligence,exl_tag = init()

In [85]:
zip_cbsa_mkt_v3 =  pd.DataFrame(list(market_intelligence['zip_cbsa_mkt_v3'].find()))
zip_cbsa_mkt_v3.to_excel(datetime.date.today().strftime('%m%d%Y')+'_zip_cbsa_mkt_v3.xlsx',index=False)

In [86]:
ReportabilityCollection_v1 =  pd.DataFrame(list(market_intelligence['ReportabilityCollection_v1'].find()))
ReportabilityCollection_v1.to_excel(datetime.date.today().strftime('%m%d%Y')+'_ReportabilityCollection_v1.xlsx',index=False)

In [5]:
EXL_Reports_Metadata =  pd.DataFrame(list(exl_tag['EXL_Reports_Metadata'].find()))
EXL_Reports_Metadata.to_excel(datetime.date.today().strftime('%m%d%Y')+'_EXL_Reports_Metadata.xlsx',index=False)

In [19]:
adidas_top25 =  pd.DataFrame(list(identity['sites'].aggregate([
{"$match": {"$and" :
    [{"$or":[
        {'address.country_code':'US','address.postal_code':'10012'},
        {'address.country_code':'US','address.postal_code':'10017'},
        {'address.country_code':'US','address.postal_code':'32819'},
        {'address.country_code':'US','address.postal_code':'32821'},
        {'address.country_code':'US','address.postal_code':'77056'},
        {'address.country_code':'US','address.postal_code':'89106'},
        {'address.country_code':'US','address.postal_code':'89109'},
        {'address.country_code':'US','address.postal_code':'94103'},
        
        {'address.country_code':'JP','address.postal_code':'1600022'},
        {'address.country_code':'JP','address.postal_code':'4120023'},
        {'address.country_code':'ES','address.postal_code':'08007'},
        {'address.country_code':'ES','address.postal_code':'28013'},
        {'address.country_code':'DE','address.postal_code':'10789'},
        {'address.country_code':'DE','address.postal_code':'91074'},
        {'address.country_code':'CN','address.postal_code':'200000'},
        {'address.country_code':'CN','address.postal_code':'201704'},
        
        {'address.country_code':'IT','address.postal_code':'20122'},
        {'address.country_code':'GB','address.postal_code':'W1C 2PG'},
        {'address.country_code':'NL','address.postal_code':'6041 TP'},
        {'address.country_code':'AT','address.postal_code':'7111'},
        {'address.country_code':'FR','address.postal_code':'75008'},
        
        ]},
    {"data_released":True},
    {"type":"Retailer"}
    ]}},
{"$project":{"_id":0 , "data_released":1,"site_id":1,"name":1,"type":1,
    "org_id":"$organization.id", "org_name":"$organization.name",
    "address_1":"$address.address_1","address_2":"$address.address_2","city":"$address.city","state":"$address.state","country":"$address.country","ctry_cd":"$address.country_code","postal_code":"$address.postal_code"}}

])))

In [20]:
adidas_top25.to_excel(datetime.date.today().strftime('%m%d%Y')+'_adidas_top25.xlsx',index=False)

In [21]:
adidas_top25.head()

,address_1,address_2,city,country,ctry_cd,data_released,name,org_id,org_name,postal_code,site_id,state,type
0,3200 Las Vegas Blvd,Suite 1175,Las Vegas,United States,US,True,0101 - FASHNSHWM/LASVEGAS NV0101,5349,"Chico's FAS, Inc",89109,10093927,NV,Retailer
1,855 S Grand Central Pkwy,Suite 1575,Las Vegas,United States,US,True,0426 - LASVEGAS PREM OUTL NV0426,5349,"Chico's FAS, Inc",89106,81396,NV,Retailer
2,5061 Westheimer Road,None,Houston,United States,US,True,0600 - HOUSTON GALLERIA TX0600,5349,"Chico's FAS, Inc",77056,76637,TX,Retailer
3,4957 International Drive,Suite 1D-27,Orlando,United States,US,True,0715 - PRIMEOUTLT ORLANDO FL0715,5349,"Chico's FAS, Inc",32819,81531,FL,Retailer
4,3200 Las Vegas Blvd S.,Suite 1425,Las Vegas,United States,US,True,3102 - FASHNSHWM/LASVEGAS NV3102,5349,"Chico's FAS, Inc",89109,10093906,NV,Retailer

In [29]:
categories = pd.DataFrame(list(exl_tag['sitecategories'].aggregate([{"$unwind":"$Sites"},
{"$match":{"Sites":{"$in":list(adidas_top25.site_id)}}},
{"$project":{"_id":0,"site_id":"$Sites","CATEGORY_NAME":1}} ]) ))
categories.head()

  CATEGORY_NAME   site_id
0    Housewares  80053913
1    Housewares  80047846
2    Housewares  80055877
3    Housewares  80078126
4    Housewares  80133056

In [35]:
adidas_top25_cats = adidas_top25.merge(categories,on="site_id")
adidas_top25_cats.to_excel(datetime.date.today().strftime('%m%d%Y')+'_adidas_top25_cats.xlsx',index=False,columns=adidas_top25_cats.columns)

In [72]:
ExcludedOrgs =  pd.DataFrame(list(market_intelligence['ExcludedOrgs'].aggregate([
{"$match":{"Country":{"$in":["FR","BE","NL","LU"]}}}])))

In [76]:
list(ExcludedOrgs.OrgID)

[9519,
 1220,
 7084,
 9515,
 9664,
 1235,
 9647,
 9700,
 7103,
 9547,
 9439,
 9689,
 1270,
 9510,
 9588,
 7160,
 9443,
 9517,
 9662,
 9541,
 5253,
 9531,
 9323,
 2544,
 9469,
 9431,
 9695,
 7027,
 9574,
 7088,
 9608,
 9528,
 7093,
 9469,
 9696,
 9486,
 9005,
 2501,
 9439,
 9583,
 9673,
 9561,
 9441,
 9652,
 7040,
 2546,
 1235,
 9536,
 9484,
 9517,
 9469,
 9469,
 9517,
 9555,
 7012,
 1230,
 2567,
 9579,
 7157,
 9441,
 9439,
 9560,
 9439,
 9677,
 9595,
 9639,
 9643,
 9590,
 7087,
 1253,
 9434,
 9434,
 2551,
 9439,
 9619,
 9619,
 9434,
 7145,
 9434,
 9521]

In [99]:
not_being_excluded =  pd.DataFrame(list(market_intelligence['site_traffic'].aggregate([
{"$match":{"orgId":{"$in":not_excluded}}},
{"$group" : {
     "_id":"$orgId",
     "cntry": { "$addToSet": "$addresses.countryCode" }, 
     "sites": { "$addToSet": "$siteId" }}},
{"$project": {
                "org_id": "$_id", 
                "cntry":"$cntry",
                "sites":"$sites",
                "_id": 0}}         
])))

In [100]:
len(not_being_excluded)

118

In [102]:
not_being_excluded.head()

    cntry  org_id                                              sites
0  [[FR]]    3121                                         [80158954]
1  [[FR]]    3096                                         [80159346]
2  [[FR]]    2605  [80157740, 80157483, 80157479, 80157895, 80157...
3  [[FR]]    6898  [80149960, 80149958, 80153123, 80149959, 80144...
4  [[FR]]    6863                                         [80140105]

In [101]:
not_being_excluded.to_excel('not_being_excluded.xlsx',index=False)

In [79]:
sites =  pd.DataFrame(list(siteref['sitedata'].aggregate([
{"$match":{"addrs.ctrycd":{"$in":["FR","BE","NL","LU"]}}},
{"$project":{"_id":0,"siteId":"$siteId","org_id":"$org.id","cntry":"$addrs.ctrycd","site_type":"$remedy.type"}}])))
sites.cntry = sites.cntry.apply(lambda x :x[0])
sites.head()

  cntry  org_id    siteId     site_type
0    FR    9564  80093875        Retail
1    FR    6877  80140784  Organization
2    FR    6877  80098577          Mall
3    FR    5054     84740        Retail
4    FR    5054     84750        Retail

In [98]:
#not_excluded = list(set(sites.org_id) - set(ExcludedOrgs.OrgID))
not_excluded = list(set(orgs.org_id).intersection(set(sites.org_id)) - set(ExcludedOrgs.OrgID))
len(not_excluded)

119

In [97]:
len(set(orgs.org_id).intersection(set(sites.org_id)) - set(ExcludedOrgs.OrgID))

119

In [85]:
not_excluded

[9218,
 9233,
 3096,
 9241,
 1053,
 1061,
 1062,
 3110,
 7208,
 9260,
 9261,
 3121,
 3122,
 5173,
 1096,
 9290,
 5214,
 6292,
 5279,
 5283,
 6313,
 1208,
 9410,
 6339,
 9412,
 9414,
 9419,
 6350,
 1231,
 6352,
 9424,
 9426,
 6355,
 9423,
 1237,
 9428,
 1242,
 6363,
 9432,
 9438,
 9433,
 9442,
 1252,
 5351,
 9447,
 9449,
 9450,
 9451,
 9463,
 9466,
 9468,
 9472,
 9473,
 9476,
 9481,
 9482,
 5389,
 9487,
 9490,
 9494,
 9496,
 9502,
 9507,
 9422,
 9526,
 6463,
 9538,
 5444,
 9540,
 9544,
 1354,
 1358,
 9558,
 5465,
 9563,
 9564,
 9566,
 5478,
 6519,
 1399,
 9592,
 1404,
 1410,
 2445,
 2446,
 9616,
 9617,
 2467,
 9636,
 1448,
 9642,
 9651,
 1460,
 5558,
 1473,
 2506,
 9675,
 9676,
 9679,
 2518,
 9687,
 9688,
 9692,
 9698,
 1507,
 1508,
 2539,
 8690,
 6656,
 5633,
 8707,
 9737,
 5643,
 2571,
 6688,
 9763,
 2600,
 5676,
 6700,
 2605,
 9776,
 9777,
 5687,
 9789,
 9790,
 2623,
 8768,
 8771,
 5707,
 6732,
 6731,
 6743,
 9839,
 9846,
 9850,
 5762,
 8836,
 5771,
 9872,
 6801,
 6804,
 6805,
 8855,
 5789,
 9889,
 6823,
 5811,
 6849,
 9928,
 9929,
 6857,
 6860,
 6863,
 9936,
 9939,
 8916,
 6868,
 9943,
 6877,
 6879,
 5858,
 8936,
 9964,
 8941,
 6897,
 6898,
 1777,
 5877,
 9975,
 1790,
 5887,
 5890,
 5895,
 5899,
 8978,
 5907,
 8979,
 5912,
 5923,
 1834,
 5951,
 5968,
 9046,
 9055,
 7010,
 9063,
 9068,
 7023,
 7024,
 7029,
 7042,
 7044,
 9093,
 7046,
 7045,
 7047,
 5007,
 7056,
 7060,
 7067,
 7073,
 9127,
 7082,
 9134,
 7086,
 7092,
 7097,
 7098,
 7099,
 5054,
 7110,
 7113,
 7116,
 7123,
 7126,
 5078,
 7130,
 7131,
 7132,
 2014,
 6113,
 7140,
 6118,
 6119,
 1000,
 7146,
 2030,
 7151,
 1013,
 7166]

In [8]:
identity = connect_mongo('tgl-mongodb21.rctanalytics.com','27017','identity','st_market_int','9am4Lewk9s0a')

In [12]:
orgs =  pd.DataFrame(list(identity['organizations'].aggregate([
{"$match":{"portal_settings.organization_type":"Retail"}},
{"$project":{"org_id":"$organization_id","_id":0,"org_type":"$portal_settings.organization_type"}}])))
orgs.head()

   org_id org_type
0  8695.0   Retail
1  5210.0   Retail
2  5349.0   Retail
3  5287.0   Retail
4  8925.0   Retail

In [67]:
sites[sites.org_id ==  5279]

    cntry  org_id site_type
117    FR    5279    Retail
118    FR    5279    Retail
119    FR    5279    Retail
120    FR    5279    Retail
121    FR    5279    Retail
122    BE    5279    Retail
123    NL    5279    Retail
124    NL    5279    Retail
125    NL    5279    Retail
126    FR    5279    Retail
127    NL    5279    Retail
128    FR    5279    Retail
129    NL    5279    Retail
130    FR    5279    Retail
131    FR    5279    Retail
132    FR    5279    Retail
133    FR    5279    Retail
134    NL    5279    Retail
135    BE    5279    Retail
136    FR    5279    Retail
137    NL    5279    Retail
138    BE    5279    Retail
139    BE    5279    Retail
140    BE    5279    Retail
141    NL    5279    Retail
142    NL    5279    Retail
143    FR    5279    Retail
144    FR    5279    Retail
145    FR    5279    Retail
146    LU    5279    Retail
147    BE    5279    Retail

In [93]:
orgs.head()

   org_id org_type
0  8695.0   Retail
1  5210.0   Retail
2  5349.0   Retail
3  5287.0   Retail
4  8925.0   Retail

In [94]:
len(set(orgs.org_id))

971

In [95]:
len(set(sites.org_id))

293

In [96]:
len(set(orgs.org_id).intersection(set(sites.org_id)))

166

In [68]:
orgs1 = orgs.merge(sites.drop_duplicates(subset=['org_id']),on = 'org_id')
orgs1.head()

   org_id org_type cntry     site_type
0  8936.0   Retail    FR        Retail
1  8768.0   Retail    BE        Retail
2  5687.0   Retail    BE        Retail
3  6339.0   Retail    FR        Retail
4  9063.0   Retail    BE  Organization

In [41]:
orgs1.groupby(['cntry']).agg(['count'])

      org_id org_type site_type
       count    count     count
cntry
BE        12       12        12
FR       136      136       136
NL        18       18        18

In [103]:
len(orgs1)

166

In [3]:
Payless_traffic =  pd.DataFrame(list(market_intelligence['site_traffic'].aggregate([
{"$match":{"orgId":2263}},
{"$project":{"siteId":1,"orgId":1,"firstTrafficDate":1,"traffic":1}}])))

In [5]:
len(Payless_traffic)

4075

In [15]:
Payless_traffic['trafficCount'] = Payless_traffic.traffic.apply(len)
Payless_traffic['lastTrafficDate'] = Payless_traffic.apply(lambda x : x['firstTrafficDate'] + datetime.timedelta(days= x['trafficCount']),axis=1)

In [16]:
Payless_traffic.head()

,_id,firstTrafficDate,orgId,siteId,traffic,lastTrafficDate,trafficCount
0,b04e5c09-e780-0885-c4b0-e3fb3185bc8e,2014-02-14,2263,80034584,"[{'trafficCount': 79, 'requiredComp': 12, 'zer...",2017-04-07,1148
1,c74599b3-999f-9871-1e5c-3a1dd9e99ebf,2014-01-01,2263,10509,"[{'trafficCount': 62, 'requiredComp': 12, 'zer...",2019-03-30,1914
2,3e4f095d-7640-61d9-18e6-17170f18318a,2014-01-01,2263,10329,"[{'trafficCount': 141, 'requiredComp': 12, 'ze...",2019-03-30,1914
3,ac487fc5-43f3-c12b-4dc3-e8001e3926b8,2014-01-01,2263,66211,"[{'trafficCount': 52, 'requiredComp': 12, 'zer...",2017-06-30,1276
4,5c44584f-3ab2-a5c1-d7ed-d0eae44223bc,2014-01-01,2263,65176,"[{'trafficCount': 96, 'requiredComp': 12, 'zer...",2016-05-31,881

In [19]:
sample = Payless_traffic[Payless_traffic.lastTrafficDate >= datetime.datetime(2019,4,7)].head()

In [29]:
sample

,_id,firstTrafficDate,orgId,siteId,traffic,lastTrafficDate,trafficCount
10,6540bfd6-32b9-d366-9b1f-2c669b11a8a2,2016-08-10,2263,80066003,"[{'trafficCount': 377, 'requiredComp': 8, 'zer...",2019-07-10,1064
31,af4f3ef2-19cb-c70a-25ef-3213d2815abc,2014-01-01,2263,51335,"[{'trafficCount': 0, 'requiredComp': 12, 'zero...",2019-07-09,2015
35,e14c53f3-5eb3-37ae-0688-22d892f2cb84,2014-04-13,2263,80026836,"[{'trafficCount': 582, 'requiredComp': 12, 'ze...",2019-07-09,1913
115,f040cb92-c7e9-ed0b-5b9c-1f06775b0bb7,2014-01-07,2263,80030903,"[{'trafficCount': 351, 'requiredComp': 12, 'ze...",2019-07-10,2010
132,5b46c130-00cf-b6bf-ecb4-d9f096dfa59b,2014-01-01,2263,80004679,"[{'trafficCount': 0, 'requiredComp': 12, 'zero...",2019-07-09,2015

In [49]:
Payless_traffic =  pd.DataFrame(list(market_intelligence['site_traffic'].aggregate([
{"$match":{"orgId":2263}},
{"$project":{"siteId":1,"orgId":1,"firstTrafficDate":1,"traffic":1}}])))

# if any site satisfies comp rules after being excluded
Payless_traffic['being_included'] = Payless_traffic.apply(lambda x : 
             [i for i in x['traffic'][(datetime.datetime(2019,4,7) - x['firstTrafficDate']).days:] if i['requiredComp'] > 11],
             axis=1)

In [51]:
Payless_traffic.head()

,_id,firstTrafficDate,orgId,siteId,traffic,lastTrafficDate,trafficCount,being_included
0,b04e5c09-e780-0885-c4b0-e3fb3185bc8e,2014-02-14,2263,80034584,"[{'trafficCount': 79, 'requiredComp': 12, 'zer...",2017-04-07,1148,[]
1,c74599b3-999f-9871-1e5c-3a1dd9e99ebf,2014-01-01,2263,10509,"[{'trafficCount': 62, 'requiredComp': 12, 'zer...",2019-03-30,1914,[]
2,3e4f095d-7640-61d9-18e6-17170f18318a,2014-01-01,2263,10329,"[{'trafficCount': 141, 'requiredComp': 12, 'ze...",2019-03-30,1914,[]
3,ac487fc5-43f3-c12b-4dc3-e8001e3926b8,2014-01-01,2263,66211,"[{'trafficCount': 52, 'requiredComp': 12, 'zer...",2017-06-30,1276,[]
4,5c44584f-3ab2-a5c1-d7ed-d0eae44223bc,2014-01-01,2263,65176,"[{'trafficCount': 96, 'requiredComp': 12, 'zer...",2016-05-31,881,[]

In [57]:
Payless_traffic[Payless_traffic.being_included.map(lambda x :len(x)>0)]

Empty DataFrame
Columns: [_id, firstTrafficDate, orgId, siteId, traffic, lastTrafficDate, trafficCount, being_included]
Index: []

In [58]:
facebook = connect_mongo('dgl-mongodb21.rctanalytics.com','27017','customer_demographics','st_customer_demographics','Alsm84Sm33so')

In [61]:
sites =  pd.DataFrame(list(facebook['sites'].find({"customer_site_id":{"$in":["0254", "0816", "0310", "0710", "0527", "0952", "0344", "0237", "0727"]}})))

In [62]:
sites

,_id,age_gender,customer_site_id,dailyOffset,data_available_since,datesWithoutData,highest_education,historicalDataLoaded,home_city,job_title,most_recent_data,name,organization,page_like,site_id
0,5c1d5a7b6fbc2a05f88c4274,"[{'date': {'startDate': '2018-10-08', 'endDate...",0310,39,2018-10-07,"[2018-10-07, 2018-10-21, 2018-10-22, 2018-11-0...","[{'date': {'startDate': '2018-10-08', 'endDate...",True,"[{'date': {'startDate': '2018-10-08', 'endDate...","[{'date': {'startDate': '2018-10-08', 'endDate...",2019-06-18,0310 - Wichita Ks,"{'id': 6175, 'name': 'Sally Beauty Supply LLC'...","[{'date': {'startDate': '2018-10-08', 'endDate...",80140167
1,5c1d5a846fbc2a05f88c43ca,"[{'date': {'startDate': '2019-01-31', 'endDate...",0237,41,2018-10-07,"[2018-10-07, 2018-10-08, 2018-10-09, 2018-10-1...","[{'date': {'startDate': '2019-01-31', 'endDate...",True,"[{'date': {'startDate': '2019-01-31', 'endDate...","[{'date': {'startDate': '2019-01-31', 'endDate...",2019-06-18,0237 - Mesquite Dfw,"{'id': 6175, 'name': 'Sally Beauty Supply LLC'...","[{'date': {'startDate': '2019-01-31', 'endDate...",80128831
2,5c1d5a866fbc2a05f88c47de,[],0816,41,2018-10-07,"[2018-10-07, 2018-10-08, 2018-10-09, 2018-10-1...",[],True,[],[],2019-06-18,0816 - Columbia Mo,"{'id': 6175, 'name': 'Sally Beauty Supply LLC'...",[],80139413
3,5c2be9ea6fbc2a05f88c4ac2,"[{'date': {'startDate': '2018-10-19', 'endDate...",0727,43,2018-10-18,"[2018-10-18, 2018-10-22, 2018-10-23, 2018-10-2...","[{'date': {'startDate': '2018-10-19', 'endDate...",True,"[{'date': {'startDate': '2018-10-19', 'endDate...","[{'date': {'startDate': '2018-10-19', 'endDate...",2019-06-18,0727 - One Nineteen,"{'id': 5030, 'name': 'Crate and Barrel', 'fb_i...","[{'date': {'startDate': '2018-10-19', 'endDate...",73837
4,5c2cda586fbc2a05f88c519d,"[{'date': {'startDate': '2018-11-15', 'endDate...",0237,53,2018-10-19,"[2018-10-19, 2018-10-20, 2018-10-21, 2018-10-2...","[{'date': {'startDate': '2018-11-15', 'endDate...",True,"[{'date': {'startDate': '2018-11-15', 'endDate...","[{'date': {'startDate': '2018-11-15', 'endDate...",2019-06-18,Office Depot - Bradenton,"{'id': 5109, 'name': 'Office Depot', 'fb_id': ...","[{'date': {'startDate': '2018-11-15', 'endDate...",80008463
5,5c2cda586fbc2a05f88c51a8,[],0254,53,2018-10-19,"[2018-10-19, 2018-10-20, 2018-10-21, 2018-10-2...",[],True,[],[],2019-06-18,Office Depot - Charlottesville,"{'id': 5109, 'name': 'Office Depot', 'fb_id': ...",[],80008468
6,5c2cda586fbc2a05f88c522a,"[{'date': {'startDate': '2018-10-19', 'endDate...",0527,53,2018-10-19,"[2018-11-22, 2018-12-25, 2019-02-15, 2019-02-1...","[{'date': {'startDate': '2018-10-19', 'endDate...",True,"[{'date': {'startDate': '2018-10-19', 'endDate...","[{'date': {'startDate': '2018-10-19', 'endDate...",2019-06-18,Office Depot - Laredo,"{'id': 5109, 'name': 'Office Depot', 'fb_id': ...","[{'date': {'startDate': '2018-10-19', 'endDate...",80005963
7,5c2cda586fbc2a05f88c52c8,"[{'date': {'startDate': '2018-10-19', 'endDate...",0344,53,2018-10-19,"[2018-10-22, 2018-10-24, 2018-10-31, 2018-11-0...","[{'date': {'startDate': '2018-10-19', 'endDate...",True,"[{'date': {'startDate': '2018-10-19', 'endDate...","[{'date': {'startDate': '2018-10-19', 'endDate...",2019-06-18,Office Depot - Covington,"{'id': 5109, 'name': 'Office Depot', 'fb_id': ...","[{'date': {'startDate': '2018-10-19', 'endDate...",80006174
8,5c2cda586fbc2a05f88c5390,"[{'date': {'startDate': '2018-10-19', 'endDate...",0952,53,2018-10-19,"[2018-11-22, 2018-12-25, 2019-02-15, 2019-02-1...","[{'date': {'startDate': '2018-10-19', 'endDate...",True,"[{'date': {'startDate': '2018-10-19', 'endDate...","[{'date': {'startDate': '2018-10-19', 'endDate...",2019-06-18,Office Depot - Bakersfield,"{'id': 5109, 'name': 'Office Depot', 'fb_id': ...","[{'date': {'startDate': '2018-10-19', 'endDate...",80005357

In [64]:
sites[['customer_site_id','organization']]

  customer_site_id                                       organization
0             0310  {'id': 6175, 'name': 'Sally Beauty Supply LLC'...
1             0237  {'id': 6175, 'name': 'Sally Beauty Supply LLC'...
2             0816  {'id': 6175, 'name': 'Sally Beauty Supply LLC'...
3             0727  {'id': 5030, 'name': 'Crate and Barrel', 'fb_i...
4             0237  {'id': 5109, 'name': 'Office Depot', 'fb_id': ...
5             0254  {'id': 5109, 'name': 'Office Depot', 'fb_id': ...
6             0527  {'id': 5109, 'name': 'Office Depot', 'fb_id': ...
7             0344  {'id': 5109, 'name': 'Office Depot', 'fb_id': ...
8             0952  {'id': 5109, 'name': 'Office Depot', 'fb_id': ...

In [27]:
NRF_2019 = pd.DataFrame(list(identity['calendars'].aggregate([
{"$match":{"name":"NRF Calendar"}},
{"$unwind":"$years"},
{"$match":{"years.year":2019}},
{"$project":{"_id":0,"name":1,"year":"$years.year","start_date":"$years.start_date","month_mask":"$years.month_mask"}}
])))

In [28]:
NRF_2019

                             month_mask          name start_date  year
0  [4, 5, 4, 4, 5, 4, 4, 5, 4, 4, 5, 4]  NRF Calendar 2019-02-03  2019

In [ ]:
report_for = 7 #July

In [ ]:
Payless_traffic.apply(lambda x : x['firstTrafficDate'] + datetime.timedelta(days= x['trafficCount']),axis=1)

In [62]:
#year start + past weeks
NRF_2019.start_date[0] + datetime.timedelta(weeks = sum(a[:report_for-NRF_2019.start_date[0].month]))

Timestamp('2019-07-07 00:00:00')

In [75]:
#year start + past weeks : to report month
current_start = NRF_2019.start_date[0] + datetime.timedelta(weeks = sum(a[:report_for-NRF_2019.start_date[0].month]))
current_end = current_start + datetime.timedelta(weeks = a[report_for-NRF_2019.start_date[0].month])
current_start,current_end

(Timestamp('2019-07-07 00:00:00'), Timestamp('2019-08-04 00:00:00'))

In [82]:
pd.date_range(current_start,current_end)[:-1].tolist()

[Timestamp('2019-07-07 00:00:00', freq='D'),
 Timestamp('2019-07-08 00:00:00', freq='D'),
 Timestamp('2019-07-09 00:00:00', freq='D'),
 Timestamp('2019-07-10 00:00:00', freq='D'),
 Timestamp('2019-07-11 00:00:00', freq='D'),
 Timestamp('2019-07-12 00:00:00', freq='D'),
 Timestamp('2019-07-13 00:00:00', freq='D'),
 Timestamp('2019-07-14 00:00:00', freq='D'),
 Timestamp('2019-07-15 00:00:00', freq='D'),
 Timestamp('2019-07-16 00:00:00', freq='D'),
 Timestamp('2019-07-17 00:00:00', freq='D'),
 Timestamp('2019-07-18 00:00:00', freq='D'),
 Timestamp('2019-07-19 00:00:00', freq='D'),
 Timestamp('2019-07-20 00:00:00', freq='D'),
 Timestamp('2019-07-21 00:00:00', freq='D'),
 Timestamp('2019-07-22 00:00:00', freq='D'),
 Timestamp('2019-07-23 00:00:00', freq='D'),
 Timestamp('2019-07-24 00:00:00', freq='D'),
 Timestamp('2019-07-25 00:00:00', freq='D'),
 Timestamp('2019-07-26 00:00:00', freq='D'),
 Timestamp('2019-07-27 00:00:00', freq='D'),
 Timestamp('2019-07-28 00:00:00', freq='D'),
 Timestamp('2019-07-29 00:00:00', freq='D'),
 Timestamp('2019-07-30 00:00:00', freq='D'),
 Timestamp('2019-07-31 00:00:00', freq='D'),
 Timestamp('2019-08-01 00:00:00', freq='D'),
 Timestamp('2019-08-02 00:00:00', freq='D'),
 Timestamp('2019-08-03 00:00:00', freq='D')]

In [34]:
a = NRF_2019.month_mask[0]

In [35]:
a

[4, 5, 4, 4, 5, 4, 4, 5, 4, 4, 5, 4]

In [55]:
a[:report_for-NRF_2019.start_date[0].month]

[4, 5, 4, 4, 5]

In [68]:
num_weeks  = a[report_for-NRF_2019.start_date[0].month]

In [52]:
b= [2,3,4,5,6,7,8,9,10,11,12,1]

In [54]:
b[:report_for-NRF_2019.start_date[0].month] #from the start of the year this current month

[2, 3, 4, 5, 6]

In [66]:
report_for-NRF_2019.start_date[0].month

5

In [65]:
b[5]

7

In [56]:
c= [1,2,3,4,5,6,7,8,9,10,11,12]

In [59]:
b[:report_for-1] #from the start of the year this current month

[2, 3, 4, 5, 6, 7]

In [40]:
#a[report_for-1] # this month
a[report_for-2] # add upto last month

4

In [49]:
NRF_2019.start_date[0].month

2